@media screen and (max-width: 992px) {
    body{
        font-family: 'raleway', sans-serif;
        justify-content: center;
        margin: 0;
    }
    main{
        padding-left: 0;
        width: 100%;
    }
    #navigation{
        padding-bottom: 10px;
        padding-left: 0;
        padding-top: 0;
    }
    #navigation1:hover,#navigation2:hover,li:hover{
        border-bottom: 1px solid #0065FC;
        cursor: pointer;
        border-top: 0;
    }

    #infoslieux{
        margin-top: 0;
        margin-bottom: 45px;
    }

    #search{
        width: 95%;
    }
    #hebergements{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .optionshebergements{
        width: 45%;
        margin: 13px;
    }
 
    #populaires{
        width: 98%;
        padding: 0;
        order: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-right: 0;
        margin-left: 0;
        background-color: white;
    }
    #titrepopulaires{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        margin-right: 35px;
        margin-left: 3%;
        align-items: stretch;
        justify-content: space-between;
    }
    .iconpopulaires{
        padding-left: 97%;
    }
    .pluspopulaires{
        width: 30%;
        height: 155px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
    }
    .imgpopulaires {
        display: flex;
        flex-direction: row;
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 55%;
    }
    .textespopulaires, .etoilespopulaires{
        font-size: smaller;
        margin-left: 0;
        margin-top: 0;
    }
    #hebergementsmarseille{
        order: 2;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: #f2f2f2;
        border-radius: 0;
        padding-left: 0;
    }
    .titres{
        margin-bottom: 20px;
        font-weight: bold;
        width: 94%;
    }
    #titreactivites{
        width: 93%;
    }

    #activites{
        justify-content: center;
    }

    #imgactivites4{
        height: 351px;
    }
}

